.App {
  text-align: center;
}

.Main-picture {
  max-width: 45%;
  height: auto;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top:130px;
  left:30px;
}

.App-header {
  background-color: #026AA7;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(./fonts/Segoe_UI.ttf) format('ttf');
}

.text-title{
  font: 'Segoe UI';
  font-size: 85px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  top: 15vh;
  left: 50vw;
  text-align: left;
  line-height: 90px;
  color: #026aa7;
}

.text-sub{
  font: 'Segoe UI';
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: right;
  position: relative;
  top: 10vh;
  left: 50vw;
  text-align: left;
  line-height: 40px;
  color: #707070;
}

.text-sub-center{
  font: 'Segoe UI';
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25vh;
  text-align: center;
  line-height: 40px;
  color: #026aa7;
}

.text-thirds{
  font: 'Segoe UI';
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  top: 20vh;
  text-align: center;
  line-height: 30px;
  color: #707070;
}

.text-sub-center-2{
  font: 'Segoe UI';
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 18vh;
  text-align: center;
  color: #707070;
}

.text-sub-center-3{
  font: 'Segoe UI';
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12vh;
  text-align: center;
  line-height: 40px;
  color: #707070;
}

.btn-sub-main{
  background-color: #026aa7;
  flex-direction: row;
  justify-content: center;
  padding: 8px 15px;
  align-items: center;
  position: relative;
  top: 15vh;
  font-size: 14px;
  color: #efe7DB;
}

.btn-outline
{
  background-color: transparent;
  color:  #026aa7;
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid #026aa7;
  /*transition: all .3s ease-out;*/
  position: absolute;
  top: 130px;
  right: 50px;
  font-size: 18px;
  color: #026aa7;
}

.btn-main{
  background-color: #026aa7;
  padding: 12px 26px;
  /*border-radius: 4px;*/
  position: relative;
  top: 8vh;
  left: 5vw;
  /*top: 570px;
  left: 720px;*/
  font-size: 20px;
  color: #efe7DB;
}

.HeaderItems{
  background: #026aa7;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.header-logo img
{
width: 120x;
height: 120px;
position: absolute;
top:10px;
left:30px;
opacity: 1;
}

.header-menu
{   align-content: end;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 45px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
  margin-right: 2rem;
}